@import "tailwindcss";

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #030712;
  color: #ffffff;
}

.safe-area-pb {
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}
